[flake8]
ignore =
    E203
    E266
    E501
    W503
    F403
    F401
    D401  # Imperative mood -- doesn't work for cached-property.
    N802  # TODO: remove this (function name should be lower-case)
    B019  # no using lru_cache on methods
max-line-length = 88
max-complexity = 18
rst-roles =
    class
    func
    mod
    data
    const
    meth
    attr
    exc
    obj
rst-directives =
    note
    warning
    versionadded
    versionchanged
    deprecated
    seealso
per-file-ignores =
    tests/*:D
    setup.py:D
